
unit1/chair/.mayaSwatches/chair_texturing_chair_legs_texture_BaseColor.png_hcm.swatch

unit1/chair/.mayaSwatches/chair_texturing_chair_post_texture_BaseColor.png_hcm.swatch

unit1/chair/.mayaSwatches/chair_texturing_chair_seat_texture_BaseColor.png_hcm.swatch

unit1/chair/.mayaSwatches/chair_texturing_chair_top_texture_BaseColor.png_hcm.swatch

unit1/chair/chair_texture_back.png

unit1/chair/chair_texture_front.png

unit1/chair/chair_texture_side.png

unit1/chair/chair_texture_threequarter.png

unit1/chair/chair_textures.spp

unit1/chair/chair_texturing_chair_legs_texture_BaseColor.png

unit1/chair/chair_texturing_chair_legs_texture_Height.png

unit1/chair/chair_texturing_chair_legs_texture_Metallic.png

unit1/chair/chair_texturing_chair_legs_texture_Normal.png

unit1/chair/chair_texturing_chair_legs_texture_Roughness.png

unit1/chair/chair_texturing_chair_post_texture_BaseColor.png

unit1/chair/chair_texturing_chair_post_texture_Height.png

unit1/chair/chair_texturing_chair_post_texture_Metallic.png

unit1/chair/chair_texturing_chair_post_texture_Normal.png

unit1/chair/chair_texturing_chair_post_texture_Roughness.png

unit1/chair/chair_texturing_chair_seat_texture_BaseColor.png

unit1/chair/chair_texturing_chair_seat_texture_Height.png

unit1/chair/chair_texturing_chair_seat_texture_Metallic.png

unit1/chair/chair_texturing_chair_seat_texture_Normal.png

unit1/chair/chair_texturing_chair_seat_texture_Roughness.png

unit1/chair/chair_texturing_chair_top_texture_BaseColor.png

unit1/chair/chair_texturing_chair_top_texture_Height.png

unit1/chair/chair_texturing_chair_top_texture_Metallic.png

unit1/chair/chair_texturing_chair_top_texture_Normal.png

unit1/chair/chair_texturing_chair_top_texture_Roughness.png

unit1/chair/chair_texturing.mtl

unit1/chair/chair_texturing.obj

unit1/chair/chair.ma

unit1/hammer/.mayaSwatches/hammer_texture_front.png_hcm.swatch

unit1/hammer/.mayaSwatches/HammerSubstance_blinn1SG_Roughness.png_hcm.swatch

unit1/hammer/.mayaSwatches/HammerSubstance_blinn2SG_BaseColor.png_hcm.swatch

unit1/hammer/.mayaSwatches/HammerSubstance_blinn2SG_Roughness.png_hcm.swatch

unit1/hammer/.mayaSwatches/HammerSubstance_blinn3SG_Roughness.png_hcm.swatch

unit1/hammer/.mayaSwatches/HammerSubstance_initialShadingGroup_Roughness.png_hcm.swatch

unit1/hammer/ASM - PBR Metallic Roughness.obj

unit1/hammer/gude-2023-09-21.log

unit1/hammer/hammer_mesh.mtl

unit1/hammer/hammer_mesh.obj

unit1/hammer/Hammer_mesh.spp

unit1/hammer/hammer_texture_back.png

unit1/hammer/hammer_texture_front.png

unit1/hammer/hammer_texture_side.png

unit1/hammer/hammer_texture_threequarter.png

unit1/hammer/HammerSubstance.mtl

unit1/hammer/HammerSubstance.obj

unit1/Repoto/Face _Threequarter.png
unit1/fish/goldfish.ZPR
